[Unit]
Description=OpenStack gnocchi metricd service
After=syslog.target network.target

[Service]
Type=simple
User=gnocchi
ExecStart=/usr/bin/gnocchi-metricd --logfile /var/log/gnocchi/metricd.log

[Install]
WantedBy=multi-user.target
