[mysqld]
max_connections = 600
wsrep_provider=/usr/lib/galera3/libgalera_smm.so
wsrep_cluster_address="gcomm://{{ percona_hosts }}"
wsrep_sst_method=rsync
wsrep_slave_threads=8
wsrep_sst_auth="bkpuser:{{ bkpuser_password }}"
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
